.form-group
  | SEVERITY  
  select(id=feature_type, name=feature_type, required='true').form-control.small_select
    option(value="") Select..
    option(value="Major") Major
    option(value="Minor") Minor
  span.spacer
  | TYPE  
  select(id=fix_or_new, name=fix_or_new, required='true').form-control.small_select
    option(value="") Select..
    option(value="Fix!") Fix!
    option(value="New!") New!    
.form-group
  label(for=update_title) Update Title
  input(name=update_title, id=update_title, type='text',placeholder='Update Title', required='true').form-control.long_field
.form-group
  label(for=update_description) Update Description
  textarea(name=update_description, id=update_description, placeholder='Update Description').form-control.long_field
.form-group
  label(for=developer) Developed By
  input(name=developer, id=developer, placeholder='Developed By', required='true').form-control
.form-group
  label(for=owner) Owner
  input(name=owner, id=owner, placeholder='Owner', required='true').form-control    
hr